@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.el h3{
    /*font-weight:normal;*/
    color: #b5a1cd;
    /*font-size: medium;*/   
    font-size:1.5vw;
    /*font-weight: bolder;*/
} 

/*.column {
    width: 100%;
 }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
}*/


.el p{
    padding-left: 50px;
    padding-right: 50px;
    font-size:1.5vw;
} 


#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    margin-top: 90px;
    font-family: 'Roboto', sans-serif;
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 40%;
    width: 400px;
}


html {
    background: url('lightpaperfibers/lightpaperfibers.png');
    scroll-padding-top: 70px; /* to overcome hiding the content by the fixed banner */

}

h2 {
    font-family: 'WindSong', cursive;
    text-align: center;
    margin-top: 40px;
    font-size:3vw;
}

h1 {
    font-family: 'WindSong', cursive;
    text-align: center;
    font-size:3.5vw;
}

.slogan{
    text-align: center;
    font-style: italic; 
    margin-bottom: 50px;
    font-size:1.5vw;
    font-family: 'Roboto', sans-serif;
}



.navbar {
    overflow: hidden;
    background-color: #b5a1cd;
    position: fixed; 
    top: 0; 
    width: 100%; 
    right: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size:1.5vw;
}
  

.navbar a:hover {
    background : white;
    color: black;
}



table.program{
    margin: 20px 0 0 0;
    padding-left: 25px;
    /*padding: 0;*/
    border-spacing: 0;
    width: 100%;
    font-size:1.5vw;
}

table.program tr{
    margin: 0;
    padding: 0;
    font-size:1.5vw;
}

table.program td{
    margin: 0;
    font-size:1.5vw;
    /*border-bottom: 1px solid #dddddd;*/
}

table.program td.time{
    width: 90px;
    color: #b5a1cd;
    font-weight: bold;
    text-align: center;
}

table.program td.event {
    padding: 10px 0;
    font-size:1.5vw;
}



footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: rgb(97, 2, 84);*/
    /*opacity: 0.2;*/
    /*color: white;*/
    text-align: center;
    font-size:1vw;
}
 
  
