@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


/*old color: #b5a1cd;*/


body {
    padding: 0;
    margin: 0;
    background: hsl(120, 9%, 98%);
}
.navbar {
    background:#98c4c5;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.description {
	text-align: center;
}
.description h1 {
    color: #98c4c5;
    font-family: 'WindSong', cursive;
}
.description p {
	color:#000;
	line-height: 1.5;
    /*font-size:1.8vw;*/
    font-style: italic; 
}


.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #98c4c5;
	font-size: 1.9rem;
	font-weight: 700;
	margin-bottom: 20px;
    font-family: 'WindSong', cursive;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


table.program{
    margin: 20px 0 0 0;
    padding-left: 25px;
    border-spacing: 0;
    width: 100%;
}

table.program tr{
    margin: 0;
    padding: 0;
}

table.program td{
    margin: 0;
}

table.program td.time{
    width: 90px;
    color: #98c4c5;
    font-weight: bold;
    text-align: center;
}

table.program td.event {
    padding: 10px 0;
}

