@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


body {
    padding: 0;
    margin: 0;
    background: hsl(120, 9%, 98%);
}
.navbar {
    background:#b5a1cd;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.description {
	text-align: center;
}
.description h1 {
	color: #b5a1cd;
}
.description p {
	color:#000;
	font-size: 1.3rem;
	line-height: 1.5;
}


.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}